@model TestQuest.Models.Test

@{
    ViewData["Title"] = "Видалити іспит";
}

<h1>Видалити</h1>

<h3>Ви дісно збираєтесь видалити іспит?</h3>
<div>
    <h4> @Html.DisplayFor(model => model.Theme)</h4>
    <hr />
    <dl class="row">

        <dt class = "col-sm-2">
            Предмет
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subject.Title)
        </dd>
        <dt class = "col-sm-2">
            Кількисть білетів
        </dt>
        <dd class = "col-sm-10">
            42
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">Повернутися до списку іспитів</a>
    </form>
</div>
