@{
    ViewData["Title"] = "Стартова сторінка";
}

<div class="text-center">
    <h1 class="display-4">Система складання іспитів</h1>
    <p><a href="/Subjects">Ознайомлення з переліком предметів для проходження іспитів</a>.</p>
</div>
